/core
/utils
notepad_example.py
notepad_example.pyc
output.doc
_bringme.pyc
_cmdmemory.py
_cmdmemory.pyc
_dragonfly_tools.py
_dragonfly_tools.pyc
_firefox-en.txt
_firefox.py
_firefox.pyc
_line_edit.py
_line_edit.pyc
_multiedit.py
_multiedit.pyc
_outlook-en.txt
_outlook.py
_outlook.pyc
_repeatthat.py
_repeatthat.pyc
_taskbar.py
_taskbar.pyc
_tests.py
_tests.pyc
_vocola_main.py
_vocola_main.pyc
_winctrl-en.txt
_winctrl.py
_winctrl.pyc
_windows.pyc
*.pyc
